.container {
  margin-left: auto;
  width: 90%;
  margin-top: 30px;
}

.label {
  font-weight: bold;
  font-size: 20px;
  color: #4f5665;
}

.input {
  height: 75px;
  width: 100%;
  padding: 0 1.75rem;
  border-radius: 20px;
  margin-top: 13px;
  border: 1px solid #4F5665;
  font-size: 20px;
  color: #9F9F9F;
}

.input:focus {
  outline: none;
}