.container {
  display: flex;
  padding: 45px 150px;
  justify-content: space-between;
  border-bottom: 0.5px solid #9f9f9f;
  box-sizing: border-box;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 50;
}
.container a {
  text-decoration: none;
}
.container p {
  margin: 0;
  padding: 0;
}
.title {
  display: flex;
  gap: 15px;
  align-items: center;
}
.content {
  display: flex;
  gap: 40px;
}
.profileContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}
.inputContainer {
  display: flex;
  position: relative;
  align-items: center;
}
.input {
  background: #efeeee;
  border-radius: 30px;
  padding: 12px 44px 12px 44px;
  outline: none;
  border: none;
  width: 178px;
}
.inputContainer button {
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  left: 10px;
  outline: none;
}
.profile {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}
.buttonCollapse {
  visibility: hidden;
}
@media (max-width: 992px) {
  .container {
    padding: 45px 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .profileContainer {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .content {
    width: 100%;
    justify-content: center;
  }
  .buttonCollapse {
    visibility: visible;
    width: 40px;
    height: 40px;
    background-color: white;
    outline: none;
    border: 1px solid #c4c4c4;
  }
  .buttonCollapse hr {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  .hidden {
    display: none;
  }
  .visible {
    display: flex;
  }
}
