.container {
  padding: 50px 150px 50px 150px;
}
.content {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 60px;
  width: 100%;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.image {
  width: 400px;
  object-fit: cover;
}
.inputButton {
  width: 100%;
  padding: 30px 0px;
  background: #ffba33;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-align: center;
}
.labelImage {
  z-index: 10;
  cursor: pointer;
}
.imageInput {
  display: none;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.right input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #9f9f9f;
  outline: none;
}
.inputDesc {
  width: 100%;
  border: none;
  border-bottom: 1px solid #9f9f9f;
  outline: none;
  height: 200px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  resize: none;
}
.category {
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 20px;
  height: 83px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}
.size {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.inputSize {
  display: none;
}
.sizeButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background: #adadad;
  line-height: 70px;
}
.sizeButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background: #adadad;
  line-height: 70px;
}
.sizeButtonDelivery {
  text-align: center;
  vertical-align: middle;
  background: #adadad;
  line-height: 70px;
  white-space: nowrap;
  border-radius: 20px;
  padding: 0px 20px;
}
.inputSize:checked + .sizeButton {
  background: #ffba33;
}
.inputSize:checked + .sizeButtonDelivery {
  background: #ffba33;
}
@media (max-width: 992px) {
  .container {
    padding: 100px 50px;
  }
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .left {
    align-items: center;
  }
}
@media (max-width: 320px) {
  .container {
    padding: 50px 0px
  }
  .left {
    width: 100%;
  }
  .image {
    width: 100%;
  }
}