@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.layoutBox {
  margin-top: 164px;
}
.f-poppins {
  font-family: 'Poppins', sans-serif;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-27 {
  font-size: 27px;
}
.fs-30 {
  font-size: 30px;
}
.fs-35 {
  font-size: 35px;
}
.fs-40 {
  font-size: 40px;
}
.fs-64 {
  font-size: 64px;
}
.fs-65 {
  font-size: 65px;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}
.fw-bold {
  font-weight: bold;
}
.fc-white {
  color: white;
}
.fc-brown {
  color: #6a4029;
}
.fc-grey {
  color: #4f5665;
}
.fc-black {
  color: #0b132a;
} 

.form-check-input[type="checkbox"]:focus,
.form-check-input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-color: #6a4029;
  box-shadow: none;
}

input[type="checkbox"]:checked {
  background: #6a4029;
  color: #6a4029;
  border-color: #6a4029;
  box-shadow: none;
}